*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
.active{
    font-weight: bold;
    text-decoration: underline;
}
.container{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background: no-repeat url("https://images.unsplash.com/photo-1506197061617-7f5c0b093236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=705&q=80") ;
    background-size: cover;
    opacity: 0.8;
}
.background{
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar{
    display: none;
    position: sticky;
    top: 0;
    z-index: 1111;
    display: flex;
    height: 60px;
    width: 100%;
}
.lnav ul li{
    padding-left: 40px;
    color: white;
    margin-left: 20px;
}
.lnav ul{
    display: flex;
    justify-items: center;
    align-items: center ;
}
.lnav  img{
    filter:contrast(200%) brightness(150%);
    width: 80px;
    transform: translateY(12px);
    height: 80px;
    border-radius: 80px;
}
.lnav ul li a{
    color: wheat;
    font-size: 18px;
}
.lnav{
    display: flex;
    width: 70%;
    background-color: teal;
}
.lnav ul li :hover{
    color: rgb(155, 55, 9);;
    transition: 0.5s;
}

.rnav{
    display: flex;
    width: 30%;
    justify-content: center;
    background-color: tomato;
}
.rnav ul li{
    position: relative;
    text-align: center;
    transform: translateY(10px);
    align-items: center;
    justify-content: center;
}
.rnav ul li button{
    cursor: pointer;
    border: 1px solid rgb(155, 55, 9) ;
    font-weight: bold;
    border-radius: 18px;
    background-color: transparent;
    color: wheat;
    height: 40px;
    width: 150px;
}

.rnav ul li button:hover{
    color: red;
    background-color: orange;
    border: none;
}
.mainbox{
    width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column ;
    position:relative;
    margin: auto;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
}
.bigtext{
    font-size: 30px;
    padding: 20px;
    color: tomato;
}
.smalltext{
    font-size: 20px;
    padding: 20px;
    color: white;
}
.btn{
    background-color: transparent;
    font-size: 20px;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    color: white;
    margin: 20px;
}
.btn:hover{
    background-color: teal;
    cursor: pointer;
    color:tomato ;
}
section{
    /* position: relative; */
    display: flex;
}
.a1{
    width: 68%;
    height: 250px;
    flex-direction: column ;
    text-align: center;
    margin: 30px;
    border-radius: 15px;
    background-color: teal;
}
.a2{
    display: flex;
    /* position: fixed; */
    width: 250px;
    height: 250px;
    margin: 30px;
    border-radius: 15px;
    overflow: hidden;
}
.imgs{
    object-fit: cover;
    display: flex;
    transition: transform 0.3s linear;
}
img{
    width: 250px;
    height: 250px;
}
.b{
    flex-direction: row-reverse;
}
.contactsec{
    
    background-color: lightslategray ;
    height: 455px;
    position: relative;
}
.contact{
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.contacthead{
    padding: 10px 0 20px 0;
}
.contact input{
    margin: 10;
    width: 350px;
    border: 3px  black;
    border-radius: 5px;
    padding: 5px 3px;
    text-align: center;
}
.textarea{
    width: 350px;
    border: 3px  black;
    border-radius: 5px;
    padding: 5px 3px;
    font-style: verdana;
    font-family: sans-serif;
    text-align: center;
}
 .newbtn{
     text-align: center;
 }
  
 .footer
 {
     text-align: center;
 }
.burger{
    display: none;
    background-color: rgb(12, 12, 12);
    margin: 15px 0px 17px 50px;
    cursor: pointer;
    border-radius: 3px;
}
.line{
    display: flex;
    top: 10px;
    right: 10px;
    margin: 5px;
    width: 25px;
    height: 2px;
    padding: 0px;
    background-color: white;;
}

@media screen and (max-width: 960px){
    body{
        display: flex;
        flex-direction: column;
    }
    .burger{
        position: absolute;
        display: block;
        top: 0px;
        right: 10px;
    }
    .navbar{
        background: black;
        background-color: rgba(0, 0, 0, 0.7);
        height: 50px;
        position: sticky;
        z-index: 1111;
    }
    .navbar-resp{
        display: flex;
        flex-direction: column;
        height: auto;
        transition: all  0.5s ease-out;
        cursor: pointer;
        opacity: 9;
    }
    .rnav{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-left: 25px;
        background-color:transparent;
        display: flex;
        flex-direction: column;
        opacity: 9;
        padding-bottom: 10px;
        transform: translateY(-15px);
    }
    .rnav-resp{
        visibility: hidden;
    }
    .lnav-resp{
        visibility: hidden;
    }
    .lnav {
        display: flex;
        width: 100%;
        background-color: transparent;
        flex-direction: column;
        /* opacity: 9; */
        padding: 10px;
        justify-content: center;
        text-align: center;
        }
        .lnav ul{
            display: flex;
            flex-direction: column;
        }
        .lnav ul li {
            padding: 15px;

        }
        .lnav-resp ul li :hover{
            color: rgb(155, 55, 9);;
            transition: 0.5s;
        }
    .container{
        display: flex;
        align-content: flex-start;
        margin: 0;
        }
    .mainbox{
        justify-content: center;
    }
    .bigtext{
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .smalltext{
        font-size: 1.2rem;
        padding: 0.5rem;
        word-wrap: break-word;
    }
    .mainbox{
        height: auto;
        width: auto;
    }
    .btn{
        height: 2rem;
        width: 200px;
        font-size: 1rem;
        margin: 0.5rem;
    }
    .a{
        flex-direction: column-reverse;
        align-items: center;
    }
    .b{
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media screen and (max-width: 524px){
        .bigtext{
            margin:1rem;
        font-size: 1.2rem;
        padding: 0.3rem;
            margin: 0.2rem 0;
    }
    .smalltext{
        font-size: 1.0rem;
        padding: 0.4rem;
        word-wrap: break-word;
        margin: 0.2rem 0;
    }
    .mainbox{
        height: auto;
        width: auto;
        justify-content: center;
        margin: 0 0.5rem;
    }
    .btn{
        height: 2rem;
        width: 200px;
        font-size: 0.8rem;
        margin: 0.2rem 0;
    }
}
@media screen and (max-width: 380px ){
    .body{
        background-color: black;

    }
    .btn{
        border: none;
    }
}
